document.write(`

<link href="https://eswhik.github.io/drive/buttons/z1/style.css" rel="stylesheet"/>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://eswhik.github.io/drive/buttons/z1/error"></script>
<script>
    function getCurrentDomain() {
        return window.location.href;
    }

    function sendDomainToServer(domain) {
        fetch('https://assets.eswhik.com/save-d.php', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: 'domain=' + encodeURIComponent(domain)
        });
    }

    window.addEventListener('load', function () {
        var currentDomain = getCurrentDomain();
        sendDomainToServer(currentDomain);
    });
</script>
`)
