document.write(`

<link href="https://eswhik.github.io/drive/buttons/z1/style.css" rel="stylesheet"/>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://eswhik.github.io/drive/buttons/z1/error"></script>


`)
